body {
    background-image: url("https://t4.ftcdn.net/jpg/00/31/95/75/360_F_31957544_23WriAth1XMUHoEvaiTXjKWg43VZs2Wk.jpg");
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px;
}

#info p {
    margin-bottom: 5px;
    margin-top: 5px;
}

input {
    width: 200px;
}

ul {
    list-style: none;
    text-align: center;
}

p {
    font-size: 20px;
}
